AGENT ORCHESTRATEUR - RESERVATION SALLE DE REUNION.json
{
  "name": "AGENT ORCHESTRATEUR - RESERVATION SALLE DE REUNION",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        2360,
        -420
      ],
      "id": "84c3608e-cc00-4d68-802b-6b48f3bb8859",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.id || 'test-session' }}"
      },
      "id": "596d259b-58a6-42a8-925f-4f13173dfb06",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2600,
        -80
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxRetries": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2420,
        -80
      ],
      "id": "92607b32-a2c2-4c5e-ba3c-352db8ca95b7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"emailAddress\":\"tristan.bernard.alpesia@gmail.com\",  \n  \"text\": \"Bonjour,\\nJe cherche une salle de réunion pour acceuillir 7 personnes entre 9h et\\n17h le 28 Juillet.\\nPouvez-vous me faire un devis pour la location de cette salle, avec et sans\\nrepas compris (j'imagine qu'il est possible de faire un repas le midi dans\\nvotre restaurant?).\\n\\nMerci et bonne semaine,\\nTristan Bernard\\n--\\n06-58-32-38-06\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2600,
        -420
      ],
      "id": "900c33e8-438c-4685-ad4e-d82dbec26368",
      "name": "Set Init-Data1"
    },
    {
      "parameters": {
        "description": "Analyse un email et détermine l’intention du client.  \nRenvoie l’un des types suivants : \"reservation\", \"modification\", \"facture\", \"infos_incompletes\", \"relance\", \"autre\".\nL’input est un champ unique : \"emailText\" (contenu brut de l’email).\n",
        "workflowId": {
          "__rl": true,
          "value": "RjvY3P0vsiKvK2Jz",
          "mode": "list",
          "cachedResultName": "TOOL_ClassifyEmail"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "emailText": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('emailText', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "emailText",
              "displayName": "emailText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        2760,
        180
      ],
      "id": "3a98a9a3-fa2a-4896-9d6b-00f35cd904c1",
      "name": "Tool_ClassifyEmail"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40e3f209-3c93-4a15-8a6c-b0dab21866bb",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3420,
        -420
      ],
      "id": "9a4362f9-02d4-4236-abe3-32c8cf8d40c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "description": "This tool is an AI Agent that will help you find the best meeting rooms available according to client needs.\n\nExpected inputs:\n- date of meeting\n- start time\n- end time\n- required number of participants",
        "workflowId": {
          "__rl": true,
          "value": "fbyd7KsPTfh6gaAZ",
          "mode": "list",
          "cachedResultName": "AGENT_ROOMS_MANAGEMENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', `The date when the client is requesting a meeting room.`, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', `The start time for which the client is requesting a meeting room.`, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', `The end time for which the client is requesting a meeting room.`, 'string') }}",
            "nb_of_participants": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nb_of_participants', `The number of participants the client requests a meeting room for.`, 'number') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nb_of_participants",
              "displayName": "nb_of_participants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3420,
        180
      ],
      "id": "bfc0ef14-4efd-453b-9eeb-f70d29d644b6",
      "name": "AGENT_ROOMS_MANAGEMENT"
    },
    {
      "parameters": {
        "description": "This tool is an ai agent that will help you manage client information. It may help you\n* Create a new client record in the database\n* Find information about the client from its email address\n* Update client information from its email address (invoice address, company name, name, etc)\n\nTo do that, you will always provide the client email address.",
        "workflowId": {
          "__rl": true,
          "value": "GOF5UgT40kUpM5sd",
          "mode": "list",
          "cachedResultName": "AGENT_CLIENT_MANAGEMENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', `The email from the client you are dealing with.`, 'string') }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3640,
        180
      ],
      "id": "6bd14430-c2ae-4898-a576-7d5dcdc60cba",
      "name": "AGENT_CLIENT_MANAGEMENT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici un email reçu : {{ $json.text }} depuis l'adresse {{ $json.emailAddress }}\n\nTon objectif est de générer tous les appels nécessaires pour créer et envoyer un devis.\n\nTu dois répondre uniquement avec format_final_json_response([...])",
        "options": {
          "systemMessage": "=📌 ROLE & MAIN OBJECTIVE\nYou are a commercial AI agent for a business hotel.\nYour mission is to handle incoming client emails and manage meeting room bookings based on their requests.\nYour goal is to provide a fast, professional, and clear answer confirming the booking conditions and sharing a quote.\n\n🧭 PROCESS TO FOLLOW\n1. Read the client's email.\n2. Understand whether the email is a meeting room booking request.\n3. If it is a booking request, extract all necessary details.\n4. Check available meeting rooms according to the client’s requirements.\n5. Create or update the client’s booking accordingly.\n6. Generate a quote.\n7. Write a clear, professional reply email.\n8. If the request is not about a meeting room booking, reply politely to inform the client that their request will be handled by a human agent.\n\n📚 ADDITIONAL INFORMATION\n- Today’s date is: {{ $today.format('yyyy-MM-dd') }}\n- If the Rooms Management Agent suggests using two different rooms for the requested time range, offer the client this option.\nIn that case, create two separate bookings, one for each time slot.\n- Always use the Think tool whenever you need to reason, verify missing steps, or clarify your next action.\n- When you create a new booking, you don’t need to set the reservation status manually — it will default to waiting_for_confirmation. The client must send an explicit confirmation by email later.\n- Make sure that you generate a quote **AFTER** you made the reservation for the client.\n- If you see that any of your tool is not working properly, do not attempt to use it anymore. Forget about it and create the email without the thing you miss.\n\n🗂️ AVAILABLE TOOLS\n1. Tool_ClassifyEmail(emailText)\nDescription: Classifies the client’s email intent.\nInput: emailText\nOutput: { intent: \"reservation\" | \"other\" | ... }\n\n2. AGENT_CLIENT_MANAGEMENT(email)\nDescription: Retrieves client details such as name, company name, and address based on their email, or returns null if unknown.\nInput: email\nOutput: { name, company_name, address } or null\n\n3. AGENT_ROOMS_MANAGEMENT(date, start_time, end_time, nb_of_participants)\nDescription: Selects an available meeting room according to the client’s needs.\nInput: date, start_time, end_time, nb_of_participants\nOutput: { room_name, availability_details }\n\n4. AGENT_CLIENT_RESERVATION(action, email, date, start_time, end_time, nb_of_participants, room_name, reservation_status)\nDescription: Creates or updates the client’s meeting room booking.\nInput: action, email, date, start_time, end_time, nb_of_participants, room_name, reservation_status\nOutput: { reservation_id, confirmation_details }\n\n5. WORKFLOW_GENERATE_DOCUMENTS(client_email, document_type, reservation_date)\nDescription: Generates a quote or an invoice and returns the URL of the document.\nInput: client_email, document_type, reservation_date\nOutput: { url }\n\n6. Think\nDescription: Use the Think tool to step back and analyze what else you need to do to complete your task correctly.\n\n⚙️ EXCEPTIONS HANDLING\nIf no meeting room is available, write a polite email informing the client about the unavailability and suggest alternative dates or solutions if possible.\n\nIf any tool returns an error or null value that blocks the workflow, use the Think tool to find an alternative or write an email informing the client that a human will handle their request manually.\n\n✍️ STYLE & LANGUAGE\n- The final email must be written in French.\n- Use a professional, polite, and clear tone.\n- Keep the message short and focused on next steps.\n\n✅ EXPECTED OUTPUT FORMAT\nYou must respond only using the following format:\n\nformat_final_json_response([\n  {\n    \"finalEmail\": \"Bonjour M. Dupont,\\n\\nMerci pour votre demande. Nous avons le plaisir de vous confirmer la disponibilité de notre salle Mont-Blanc pour le 10 juillet de 9h à 17h, pour 10 personnes.\\n\\nVous trouverez votre devis ici : https://fichier/pdf/devis123.pdf\\n\\nSouhaitez-vous que nous procédions à la réservation ?\\n\\nCordialement,\\nL'équipe Réservation\"\n  }\n])\n✔️ REMEMBER\n- Never include any other text outside the JSON response.\n- Always check your reasoning with Think if needed.\n- Prioritize client satisfaction and clarity.",
          "returnIntermediateSteps": true
        }
      },
      "id": "9bc56aba-46aa-4851-b8da-5dc6aedc8be6",
      "name": "Agent Orchestrateur",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2980,
        -420
      ]
    },
    {
      "parameters": {
        "description": "Use the tool to think about where you are in the reservation process. Ask yourself if you have all required information about the client, if a meeting room is available or not and if so, create a new reservation for the client."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2260,
        -80
      ],
      "id": "e75f24e1-ca4e-4283-82da-83da8516e5be",
      "name": "Think"
    },
    {
      "parameters": {
        "description": "This tool is an AI Agent dedicated to meeting room reservation management. It allows you to create new reservation for the client, get information about the last reservation made by the client (if there is one) and update reservation status.\n\nExpected input:\n- action (string)(required) --> explain here with a sentence what you need from the agent to do\n- client_email (string)(required)\n- start_time (string)\n- end_time (string)\n- nb_of_participants (number)\n- room_name (string)\n- reservation_status (string)\n",
        "workflowId": {
          "__rl": true,
          "value": "AP922sjs8oLaRCvc",
          "mode": "list",
          "cachedResultName": "AGENT_CLIENT_RESERVATION_MANAGEMENT"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('email', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', ``, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', ``, 'string') }}",
            "nb_of_participants": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('nb_of_participants', ``, 'string') }}",
            "room_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('room_name', ``, 'string') }}",
            "reservation_status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_status', ``, 'string') }}",
            "action": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('action', `Explain in a sentence in details what you need from the agent`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "nb_of_participants",
              "displayName": "nb_of_participants",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "room_name",
              "displayName": "room_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reservation_status",
              "displayName": "reservation_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3220,
        180
      ],
      "id": "b6dac5c5-43ae-4100-8bae-56a19a8482e6",
      "name": "AGENT_CLIENT_RESERVATION"
    },
    {
      "parameters": {
        "description": "This workflow will generate a quote or an invoice for your client's reservation, and add it to the database.\nIt will return the URL of the document.\n\nExpected input:\n- client_email (string)(required)\n- document_type (string)(required) --> could be only \"quote\" or \"invoice\" with the same case. Anything else will be rejected.\n- reservation_date (date string format YYYY-MM-dd)(required) --> the date of the reservation requested by the client\n\nExpect output:\n- url : the URL of the generated document (quote or invoice)",
        "workflowId": {
          "__rl": true,
          "value": "N6DMwN6GYsEtgfnY",
          "mode": "list",
          "cachedResultName": "WORKFLOW_GENERATE_INVOICE_OR_QUOTE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "client_email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('client_email', ``, 'string') }}",
            "document_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('document_type', `can be only \"quote\" or \"invoice\" with the same case. Anything else will be rejected.`, 'string') }}",
            "reservation_date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reservation_date', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "client_email",
              "displayName": "client_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "document_type",
              "displayName": "document_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "reservation_date",
              "displayName": "reservation_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        3000,
        200
      ],
      "id": "04d0ca6e-ab93-48a6-851a-9f8081e0c98b",
      "name": "WORKFLOW_GENERATE_DOCUMENTS"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3720,
        -200
      ],
      "id": "8b4535a6-0a7d-4e52-b18a-4446ec6fb095",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=here is the raw AI Agent answer :  {{ $json.output }}",
        "messages": {
          "messageValues": [
            {
              "message": "=## ROLE\n\nYou are an AI email formatter specialized in generating production-ready HTML emails.\n\n## OBJECTIVE\n\nYour mission is to process the agent's response, which always arrives in the following format:\n\n<agent_answer>\nformat_final_json_response([\n  {\n    \"finalEmail\": \"...\"\n  }\n])\n</agent_answer>\n\nExtract the email text contained in the `\"finalEmail\"` field and format it as a simple, clean, responsive HTML email that can be sent directly to clients.\n\n---\n\n## RULES\n\n1. Always return **only the final HTML code**, with no explanations or additional text.  \n2. Preserve the original email content exactly as written, including accents and punctuation.  \n3. Convert line breaks (`\\n`) into appropriate HTML `<br>` tags to maintain readability.  \n4. Wrap the content in a minimal, professional HTML email structure with `<html>`, `<head>`, and `<body>` tags.  \n5. Use UTF-8 encoding and specify it in the `<meta>` tag.  \n6. Use inline CSS for basic styling (font family, size, line-height, color) to ensure compatibility with most email clients.  \n7. Keep the design clean, neutral, and business-oriented (white background, black text).\n\n---\n\n## EXAMPLE\n\n### Input:\n\n<agent_answer>\nformat_final_json_response([\n  {\n    \"finalEmail\": \"Bonjour M. Bernard,\\n\\nMerci pour votre demande. Nous avons le plaisir de vous confirmer la disponibilité de notre salle Chartreuse pour le 28 juillet de 9h à 17h, pour 7 personnes.\\n\\nVous trouverez votre devis ici : https://example.com/devis.pdf\\n\\nSouhaitez-vous que nous procédions à la réservation ?\\n\\nCordialement,\\nL'équipe Réservation\"\n  }\n])\n</agent_answer>\n\n### Output:\n\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Confirmation de réservation</title>\n</head>\n<body style=\"font-family: Arial, sans-serif; font-size: 14px; line-height: 1.6; color: #000000; background-color: #ffffff; padding: 20px;\">\n  Bonjour M. Bernard,<br><br>\n  Merci pour votre demande. Nous avons le plaisir de vous confirmer la disponibilité de notre salle Chartreuse pour le 28 juillet de 9h à 17h, pour 7 personnes.<br><br>\n  Vous trouverez votre devis ici : <a href=\"https://example.com/devis.pdf\">https://example.com/devis.pdf</a><br><br>\n  Souhaitez-vous que nous procédions à la réservation ?<br><br>\n  Cordialement,<br>\n  L'équipe Réservation\n</body>\n</html>\n\n## FINAL INSTRUCTION\nAlways return only the final HTML email code as shown in the example above, with correct encoding and formatting ready to send.\n\n---\n\n### ✅ **Key improvements**\n\n✔️ Converts line breaks to `<br>`  \n✔️ Uses a neutral, professional inline-styled HTML structure  \n✔️ Returns pure HTML code without extra explanations  \n✔️ Ready for Mailjet, Sendgrid, or direct SMTP send\n\nLet me know if you want a version with your **brand colors, header logo, or footer** standardised for your agency templates.\n\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3640,
        -420
      ],
      "id": "b00846cf-ef7f-4e45-86c1-dcb298f8f939",
      "name": "Extract AI Agent Answer"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Set Init-Data1').item.json.emailAddress }}",
        "subject": "Votre devis",
        "message": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4000,
        -420
      ],
      "id": "571c6bd1-0209-41b0-afd8-7ea531e67b70",
      "name": "Send a message",
      "webhookId": "d3061f0e-4a23-4ec3-950a-2193b14dd8d0",
      "credentials": {
        "gmailOAuth2": {
          "id": "cp3sgqpYGECz9c8a",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Edit Fields": [
      {
        "json": {
          "output": "format_final_json_response([\n  {\n    \"finalEmail\": \"Bonjour M. Bernard,\\n\\nMerci pour votre demande. Nous avons le plaisir de vous confirmer la disponibilité de notre salle Chartreuse pour le 28 juillet de 9h à 17h, pour 7 personnes.\\n\\nVous trouverez votre devis pour la location de la salle ici : https://nocodb.cloudron.alpes-ia.fr/dltemp/QVdna8zXlrkz5wi_/1752069000000/2025/07/09/3b80a5a4edc44e4c8874f822b7df09949e242d83/devis_2025-07-09_pZ2zT.pdf\\n\\nLe devis avec repas sera envoyé séparément. Souhaitez-vous que nous procédions à la réservation ?\\n\\nCordialement,\\nL'équipe Réservation\"\n  }\n])"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Init-Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Init-Data1": {
      "main": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool_ClassifyEmail": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENT_ROOMS_MANAGEMENT": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENT_CLIENT_MANAGEMENT": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Orchestrateur": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AGENT_CLIENT_RESERVATION": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "WORKFLOW_GENERATE_DOCUMENTS": {
      "ai_tool": [
        [
          {
            "node": "Agent Orchestrateur",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Extract AI Agent Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract AI Agent Answer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract AI Agent Answer": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 20
  },
  "versionId": "272434f9-d757-4e27-9dd1-4953e1800b6c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "iX7OL1hIXMmOHSga",
  "tags": [
    {
      "createdAt": "2025-05-03T12:40:05.376Z",
      "updatedAt": "2025-05-03T12:40:05.376Z",
      "id": "C7ParoXyUmmYDvCQ",
      "name": "WhatsApp"
    },
    {
      "createdAt": "2025-05-03T12:40:08.866Z",
      "updatedAt": "2025-05-03T12:40:08.866Z",
      "id": "xEfLVeLt7iT32rK2",
      "name": "Agent IA"
    }
  ]
}