AlpAct/Create Campagne Ads Resources.json
{
  "name": "Create Campagne Ads Resources",
  "nodes": [
    {
      "parameters": {
        "content": "## On reconstruit le contexte du projet avec l'hypothèse à tester",
        "height": 700,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1520,
        112
      ],
      "typeVersion": 1,
      "id": "15e67331-b534-47c6-9b50-cd6d3f5ba543",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "##Idempotence",
        "height": 420,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        208
      ],
      "typeVersion": 1,
      "id": "1e908b03-e941-43da-a370-da655cf99e75",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "  {\n    \"hypothese_id\": \"H2_1757056266939\",\n    \"project_name\": \"GreenPack\"\n  }"
      },
      "id": "f3a31738-d24d-41f7-83e5-40f57f87f067",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        848,
        368
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "d7GJ5S7P5yCLCEGT",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 2"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1232,
        368
      ],
      "id": "b91e4c7c-8426-45e9-a45c-947dfbc211ec",
      "name": "Delete existing",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"selected_channel\": \"Google Ads\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2528,
        560
      ],
      "id": "804935b9-59ea-4b6b-aa5c-e1811b8cf8f1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2352,
        592
      ],
      "id": "9539470c-d622-4545-ab47-265a354453e3",
      "name": "GPT-5-MINI",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "25f3736a-96fe-4588-b47e-ddfb9422b917",
              "name": "output.rowId",
              "value": "={{ $json.Id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3952,
        48
      ],
      "id": "6f073ecc-5d3f-40bc-96a4-99542fddd2f7",
      "name": "RETURN"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the complete context for the startup project, in JSON format:\n\n<currently_tested_PMF_hypothesis>\n{{ $json.currently_tested_PMF_hypothesis.toJsonString() }}\n</currently_tested_PMF_hypothesis>\n<project_inital_data>\n{{ $json.project_inital_data.toJsonString() }}\n</project_inital_data>\n\nPlease analyze this information and return the JSON output indicating the **single most relevant advertising channel**.\n\n\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert digital marketing strategist specialized in early-stage startups.  \nYour role is to analyze a given startup project context and hypothesis, then select the **single most relevant online advertising channel** among the following options:  \n- Google Ads  \n- Meta (Facebook/Instagram)  \n- LinkedIn Ads  \n\nConstraints:  \n- Always output a valid JSON object, with no explanations.  \n- Choose exactly one channel.  \n- Base your choice on the target audience, market type (B2B vs B2C), hypothesis to test, and go-to-market objective.  \n- If multiple channels could fit, you must still pick the **most relevant single one**.\n\nExpected JSON output structure:  \n{\n  \"selected_channel\": \"Google\" | \"Meta\" | \"LinkedIn\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2368,
        368
      ],
      "id": "e66a1081-2ede-43ef-bcd2-e9f76a3e0147",
      "name": "Determine which channel to target"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.selected_channel }}",
                    "rightValue": "Google",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "da7c3480-8842-483f-918a-4096402a8e86"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Google"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "85953e36-995d-4df5-9aba-c6b87a5a9db9",
                    "leftValue": "={{ $json.output.selected_channel }}",
                    "rightValue": "=Meta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Meta"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91ddca14-ec20-4548-a7d9-6ed947e7424b",
                    "leftValue": "={{ $json.output.selected_channel }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2736,
        368
      ],
      "id": "61f0fc30-7f6d-4b78-89e2-5cf423ae7c60",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Contexte projet et hypothèse pour Google Ads :\n\n{\n  \"project_id\": \"proj-123\",\n  \"hypothesis_id\": \"hypo-001\",\n  \"startup_context\": {\n    \"mission\": \"Aider les TPE à automatiser leurs tâches\",\n    \"value_proposition\": \"Une solution simple et abordable d’automatisation\",\n    \"pain_points\": [\"perte de temps\", \"tâches répétitives\"],\n    \"market_type\": \"B2B\",\n    \"target_segments\": [\"dirigeants TPE\", \"indépendants\"],\n    \"known_competitors\": [\"Zapier\", \"Make\"]\n  },\n  \"offer\": {\n    \"product_name\": \"Alpes Automate\",\n    \"key_benefits\": [\"gain de temps\", \"simplicité\", \"tarif abordable\"],\n    \"trial_or_demo\": \"oui\"\n  },\n  \"goal\": \"leads\",\n  \"landing_url\": \"https://exemple.com/demo\",\n  \"geo\": { \"countries\": [\"FR\"] },\n  \"constraints\": {\n    \"daily_budget_eur\": 20,\n    \"must_include_keywords\": [\"automatisation PME\", \"logiciel tâches\"],\n    \"forbidden_terms\": [\"gratuit\", \"emploi\"]\n  },\n  \"utm\": {\n    \"utm_campaign\": \"bootcamp_alpact_h1\",\n    \"utm_content\": \"varA\"\n  },\n  \"timeline\": {\n    \"start_date\": \"2025-09-10\",\n    \"end_date\": \"2025-09-24\"\n  }\n}\n\nVeuillez retourner uniquement l’objet JSON valide selon le schéma défini par le System Prompt.\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior performance marketer specialized in Google Ads for early-stage startups.  \nYour task is to generate a **single JSON object** matching the simplified schema `campaign_assets_minimal`.\n\nRules:\n- Output only valid JSON, no explanations.\n- Language: French for all ad copy.\n- Respect Google Ads character limits:\n  - headlines ≤ 30 chars\n  - descriptions ≤ 90 chars\n- Provide multiple headlines and descriptions (Responsive Search Ads).\n- Use the following JSON fields:\n  - copy_json: contain all textual ad assets (headlines, descriptions, CTA, etc.)\n  - creative_json: normally empty for Search (images optional only for Performance Max)\n  - targeting_json: audience, geo, placements\n  - channel_specific_json: keywords, match types, negatives, extensions\n  - utm_json: UTM tags for tracking\n  - schedule_json: campaign start/end dates\n\nTarget JSON shape:\n{\n  \"id\": \"string\",\n  \"project_id\": \"string\",\n  \"hypothesis_id\": \"string\",\n  \"channel\": \"google_ads\",\n  \"campaign_name\": \"string\",\n  \"variant_id\": \"A\",\n  \"objective\": \"traffic|leads|sales|awareness\",\n  \"ad_format\": \"search_text\",\n  \"landing_url\": \"string\",\n  \"budget_daily\": 20,\n  \"currency\": \"EUR\",\n  \"status\": \"ready_for_review\",\n  \"generated_at\": \"YYYY-MM-DDTHH:MM:SSZ\",\n  \"copy_json\": {\n    \"headlines\": [\"...\", \"...\"],\n    \"descriptions\": [\"...\", \"...\"],\n    \"cta\": \"EN SAVOIR PLUS\"\n  },\n  \"creative_json\": {},\n  \"targeting_json\": {\n    \"geo\": { \"countries\": [\"FR\"] },\n    \"placements\": { \"google_search\": true, \"search_partners\": true }\n  },\n  \"channel_specific_json\": {\n    \"keywords\": [\n      { \"keyword\": \"logiciel gestion PME\", \"match\": \"phrase\" }\n    ],\n    \"negative_keywords\": [\"gratuit\", \"emploi\"],\n    \"extensions\": {\n      \"sitelinks\": [{ \"text\": \"...\", \"url\": \"...\" }]\n    }\n  },\n  \"utm_json\": {\n    \"utm_source\": \"google\",\n    \"utm_medium\": \"cpc\",\n    \"utm_campaign\": \"...\",\n    \"utm_content\": \"varA\"\n  },\n  \"schedule_json\": {\n    \"start_date\": \"YYYY-MM-DD\",\n    \"end_date\": \"YYYY-MM-DD\"\n  },\n  \"notes\": \"\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2992,
        -128
      ],
      "id": "a827d559-bf71-4472-b3b0-da81a9226825",
      "name": "Google"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Contexte projet et hypothèse pour Instagram Ads :\n\n<startup_context>\n{\n  \"project_name\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.project_name }}\",\n  \"hypothesis_id\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.hypothesis_id }}\",\n  \"startup_context\": {\n    \"mission\": \"{{ $('Get Project Context').item.json.project_inital_data.mission }}\",\n    \"value_proposition\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.value_prop }}\",\n    \"pain_points\":  \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.probleme_resolu }}\" ,\n    \"market_type\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.market_type }}\",\n    \"target_segments\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.segment_client }}\"\",\n    \"known_competitors\":\"{{ $('Get Project Context').item.json.project_inital_data.concurrents_principaux }}\" \n  },\n  \"offer\": {\n    \"product_name\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.product_name }}\",\n    \"key_benefits\": \"{{ $('Get Project Context').item.json.currently_tested_PMF_hypothesis.key_benefits }}\"\n  },\n  \"landing_url\": \"https://exemple.com/demo\",\n  \"geo\": { \"countries\": [\"FR\"] },\n\n}\n</startup_context>\n\nPlease return only a valid json following system prompt instructions.",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are a senior digital marketer specialized in Meta Ads (Instagram + Facebook).  \nYour task is to generate a **single JSON object** matching the simplified schema `campaign_assets_minimal`.\n\nRules:\n- Output only valid JSON, no explanations.\n- Language: French for all ad copy.\n- Generate assets for a **single-image Instagram ad** (format 4:5 or 1080x1350).\n- Provide 3 variants of text (primary text, headline, description, CTA) and visuals (image prompt + alt_text)\n- Include a CTA relevant to acquisition (ex: S’INSCRIRE, EN SAVOIR PLUS, ACHETER).\n- Provide 3 variants of image prompt suitable for AI image generation, plus alt_text.\n- Fill JSON fields as follows:\n  - ad --> array of (variant_id, primary_text, headline, description, CTA, visual prompt, alt_text)\n  - targeting_json: audiences (interests/lookalikes), geo, placements (feed, stories, reels)\n  - channel_specific_json: reserved for Meta-specific features (e.g. custom audience name, lookalike %, exclusions)\n  - utm_json: utm tags\n  - schedule_json: campaign start/end dates\n\nTarget JSON shape:\n{\n  \"id\": \"string\",\n  \"project_id\": \"string\",\n  \"hypothesis_id\": \"string\",\n  \"channel\": \"instagram_meta\",\n  \"campaign_name\": \"string\",\n  \"objective\": \"traffic|leads|sales|awareness\",\n  \"ad_format\": \"single_image\",\n  \"landing_url\": \"string\",\n  \"budget_daily\": 15,\n  \"currency\": \"EUR\",\n  \"status\": \"ready_for_review\",\n  \"generated_at\": \"YYYY-MM-DDTHH:MM:SSZ\",\n  \"ad\": [{\n    \"variant_id\": \"A\",\n    \"primary_text\": \"...\",\n    \"headline\": \"...\",\n    \"description\": \"...\",\n    \"cta\": \"S’INSCRIRE\",\n    \"image_prompt\": \"description visuelle riche pour génération IA\",\n    \"alt_text\": \"description courte de l’image\"\n  }],\n  \"targeting_json\": {\n    \"geo\": { \"countries\": [\"FR\"] },\n    \"audiences\": { \"interests\": [\"...\", \"...\"] },\n    \"placements\": { \"instagram\": [\"feed\",\"stories\",\"reels\"] }\n  },\n  \"channel_specific_json\": {\n    \"custom_audience\": \"\",\n    \"lookalike\": \"\"\n  },\n  \"utm_json\": {\n    \"utm_source\": \"instagram\",\n    \"utm_medium\": \"paid\",\n    \"utm_campaign\": \"...\",\n    \"utm_content\": \"varA\"\n  },\n  \"schedule_json\": {\n    \"start_date\": \"YYYY-MM-DD\",\n    \"end_date\": \"YYYY-MM-DD\"\n  },\n  \"notes\": \"\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3136,
        544
      ],
      "id": "0ea796ae-8cf2-48d6-b799-45db5213c5ec",
      "name": "Meta/Insta"
    },
    {
      "parameters": {
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2992,
        912
      ],
      "id": "c29d2259-f2f6-4a37-9d0c-836f1b330e24",
      "name": "LinkedIn"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"id\": \"string\",\n  \"project_id\": \"string\",\n  \"hypothesis_id\": \"string\",\n  \"channel\": \"google_ads\",\n  \"campaign_name\": \"string\",\n  \"objective\": \"traffic|leads|sales|awareness\",\n  \"ad_format\": \"search_text\",\n  \"landing_url\": \"string\",\n  \"budget_daily\": 20,\n  \"currency\": \"EUR\",\n  \"status\": \"ready_for_review\",\n  \"generated_at\": \"YYYY-MM-DDTHH:MM:SSZ\",\n   \"ad\": [{\n    \"variant_id\": \"A\",\n    \"primary_text\":\"...\",\n    \"headlines\": [\"...\", \"...\"],\n    \"descriptions\": [\"...\", \"...\"],\n    \"cta\": \"EN SAVOIR PLUS\",\n    \"image_prompt\": \"description visuelle riche pour génération IA\",\n    \"alt_text\": \"description courte de l’image\"\n  }],\n  \"targeting_json\": {\n    \"geo\": { \"countries\": [\"FR\"] },\n    \"placements\": { \"google_search\": true, \"search_partners\": true }\n  },\n  \"channel_specific_json\": {\n    \"keywords\": [\n      { \"keyword\": \"logiciel gestion PME\", \"match\": \"phrase\" }\n    ],\n    \"negative_keywords\": [\"gratuit\", \"emploi\"],\n    \"extensions\": {\n      \"sitelinks\": [{ \"text\": \"...\", \"url\": \"...\" }]\n    }\n  },\n  \"utm_json\": {\n    \"utm_source\": \"google\",\n    \"utm_medium\": \"cpc\",\n    \"utm_campaign\": \"...\",\n    \"utm_content\": \"varA\"\n  },\n  \"schedule_json\": {\n    \"start_date\": \"YYYY-MM-DD\",\n    \"end_date\": \"YYYY-MM-DD\"\n  },\n  \"notes\": \"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3232,
        64
      ],
      "id": "f80439a5-04d4-4567-8409-6dd8b99f4833",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3232,
        288
      ],
      "id": "2f870f77-4a6c-4b59-94f1-67cf047e41a5",
      "name": "GPT-5-MINI1",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Creation des assets, par canal",
        "height": 1456,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2208,
        -320
      ],
      "typeVersion": 1,
      "id": "408fecef-ace0-489a-9330-e4e7399892e6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O7NnHj6HqlEVcXWC",
          "mode": "list",
          "cachedResultName": "Create Image for Ads"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "ai_model": "nano-banana",
            "prompt": "={{ $json.output.ad[0].image_prompt }}",
            "variant_id": "={{ $json.output.ad[0].variant_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ai_model",
              "displayName": "ai_model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "variant_id",
              "displayName": "variant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        4240,
        720
      ],
      "id": "544b4572-c35e-4b15-94a2-54de4d764406",
      "name": "Create visuals for Insta"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {
          "timeout": 500000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3008,
        112
      ],
      "id": "4ba47d40-f4fc-482b-a2d7-7903f940c718",
      "name": "GPT-5",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "y2LEjpUB53iTcggE",
          "mode": "list",
          "cachedResultName": "Get project context"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "hypothesis_id": "={{ $('Start').item.json.hypothese_id }}",
            "project_name": "={{ $('Start').item.json.project_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "hypothesis_id",
              "displayName": "hypothesis_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1808,
        368
      ],
      "id": "660a0f61-fb6c-48df-8696-c0621d7a44b5",
      "name": "Get Project Context"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.ad",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3648,
        544
      ],
      "id": "6edff165-3623-44a0-9bd4-09286714499e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3920,
        544
      ],
      "id": "a30a2b37-3669-419e-9391-d6dafce8a807",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "hypothese_id": "H2_1757056266939",
          "project_name": "GreenPack"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Delete existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete existing": {
      "main": [
        [
          {
            "node": "Get Project Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Determine which channel to target",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-MINI": {
      "ai_languageModel": [
        [
          {
            "node": "Determine which channel to target",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Determine which channel to target": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Google",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Meta/Insta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Google",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Meta/Insta",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-MINI1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Meta/Insta": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5": {
      "ai_languageModel": [
        [
          {
            "node": "Google",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Meta/Insta",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get Project Context": {
      "main": [
        [
          {
            "node": "Determine which channel to target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create visuals for Insta": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Create visuals for Insta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "52efaea4-b199-4a50-98ea-57ad3f2fd5c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "HLZD8kvLqV9KGQhV",
  "tags": [
    {
      "createdAt": "2025-09-03T16:26:16.510Z",
      "updatedAt": "2025-09-03T16:26:16.510Z",
      "id": "fMhvLwPBTuM8eI5O",
      "name": "AlpAct"
    }
  ]
}