AlpAct/Delete Existing Landing Page Text Content.json
{
  "name": "Delete Existing Landing Page Text Content",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n\"hypothese_id\": \"H1_1756912325593\",\n\"project_name\": \"GreenPack\"\n}"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        260,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "delete",
        "workspaceId": "w8fin9y3",
        "projectId": "pb01kdovzticqxi",
        "table": "mscuz3u72wn6har",
        "id": "={{ $json.Id }}"
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        760,
        440
      ],
      "id": "bdd28e47-2676-4b80-9ded-8c3ebf3d60de",
      "name": "Delete a row",
      "credentials": {
        "nocoDbApiToken": {
          "id": "A7ud9P88oTJkeL1f",
          "name": "NocoDb AlpAct - Cloud"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w8fin9y3",
        "projectId": "pb01kdovzticqxi",
        "table": "mscuz3u72wn6har",
        "options": {
          "fields": [
            "Id"
          ],
          "where": "=(project_name,eq,{{ $json.project_name }})~and(hypothesis_id,eq,{{ $json.hypothese_id }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        540,
        440
      ],
      "id": "aef72d5e-46fe-42f0-9efa-639d9638c359",
      "name": "Get images Ids",
      "alwaysOutputData": false,
      "credentials": {
        "nocoDbApiToken": {
          "id": "A7ud9P88oTJkeL1f",
          "name": "NocoDb AlpAct - Cloud"
        }
      }
    },
    {
      "parameters": {
        "content": "## Delete from NocoDb\n",
        "height": 260,
        "width": 700
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        380
      ],
      "typeVersion": 1,
      "id": "065965fa-307d-479a-918b-d632bed99d5c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Rien d'affiché sur Notion sur la structure de la landing page, donc rien à supprimer\n",
        "height": 260,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        100
      ],
      "typeVersion": 1,
      "id": "c7d52bc8-61f4-4ebf-a3a6-9d616a19270a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cd0262d2-3b2b-4e66-ab76-a365adfa8110",
              "name": "output",
              "value": "done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        300
      ],
      "id": "d297f4c5-1561-4e84-9eeb-478acd7875c1",
      "name": "RETURN"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "hypothese_id": "H1_1756912325593",
          "project_name": "GreenPack"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Get images Ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get images Ids": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "RETURN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8d201d25-d4d6-41df-95ea-3b21bf1de121",
  "meta": {
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "TkWEofapjGW9Nrlx",
  "tags": [
    {
      "createdAt": "2025-09-03T16:26:16.510Z",
      "updatedAt": "2025-09-03T16:26:16.510Z",
      "id": "fMhvLwPBTuM8eI5O",
      "name": "AlpAct"
    }
  ]
}