AlpAct/FTP_Generate Single Image.json
{
  "name": "FTP_Generate Single Image",
  "nodes": [
    {
      "parameters": {
        "resource": "image",
        "model": "gpt-image-1",
        "prompt": "={{ $json.output.image_prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -3500,
        -80
      ],
      "id": "0652b567-de48-4d8f-b716-ffd0bdfe3860",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Context of the project in JSON format:\n{{ $json.project_full_context.toJsonString() }}\n\nVisual suggestion:\n{{ $json.visual_suggestion }}\n\nTask:\nReturn only a valid JSON object with three fields:\n{\n  \"image_prompt\": \"a complete, detailed description for GPT-1 image generation\",\n  \"alt_text\": \"a concise description for HTML accessibility and SEO\",\n  \"filename\":\"a human-friendly word to identify the produced file\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=You are an AI assistant that generates detailed visual descriptions for startup marketing materials. \n\nYour role is to produce structured JSON outputs containing:\n1. \"image_prompt\": a rich, detailed description optimized for an AI image generation model (GPT-1), integrating:\n   - the startup project context (mission, target market, value proposition),\n   - the brand identity (colors, typography style, graphic mood),\n   - the specific visual suggestion.\n\n   The description should be long and descriptive (minimum 80–100 words) to ensure high-quality image generation.\n   Do not include any text or captions inside the visual unless explicitly requested.\n\nAll text must be in french language.\n\n2. \"alt_text\": a short, human-friendly description of the visual (1–2 sentences, max 30 words) suitable for a landing page’s HTML <img alt=\"...\"> attribute.\n3. \"filename\" : a human-friendly word to identify the produced file.\n\nOutput format:\n{\n  \"image_prompt\": \"...\",\n  \"alt_text\": \"...\",\n\"filename\": \"\"\n}\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -3880,
        -80
      ],
      "id": "cd424ebe-9148-4b86-bbf4-5757a1a728f3",
      "name": "Generate a custom prompt for this specific image"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_prompt\": \"...\",\n  \"alt_text\": \"...\",\n  \"filename\":\"\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3720,
        240
      ],
      "id": "f61ddb80-2942-40e3-96b2-7fb00e9eed45",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le fichier binaire\nconst binaryData = $input.first().binary;\n\n// Modifier le nom du fichier\nbinaryData.data.fileName = $('Generate a custom prompt for this specific image').first().json.output.filename + \".png\";\n\nreturn $input.first() ;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3200,
        -80
      ],
      "id": "f6350fea-cf1f-4d32-957f-b2f7a6506f0d",
      "name": "Rename File"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3880,
        240
      ],
      "id": "a68eda6e-bbfa-4b90-bdac-da27ed662742",
      "name": "GPT-5-MINI",
      "credentials": {
        "openAiApi": {
          "id": "xA5aDLFhcAyipXLc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Code JS fonction complète pour nettoyer les URLs\nfunction createValidUrl(baseUrl, folderPath, filename) {\n  // Encode chaque partie du chemin séparément\n  const encodedFolderPath = folderPath\n    .split('/')\n    .map(segment => encodeURIComponent(segment))\n    .join('/');\n  \n  const encodedFilename = encodeURIComponent(filename);\n  \n  return `${baseUrl}/${encodedFolderPath}/${encodedFilename}`;\n}\n\nconst baseUrl = 'https://files.cloudron.alpes-ia.fr';\nconst folderPath = items[0].json.folderPath || 'AlpAct/La meute qui ose';\nconst filename = items[0].json.filename;\n\nconst publicUrl = createValidUrl(baseUrl, folderPath, filename);\n\nreturn [{\n  json: {\n    ...items[0].json,\n    publicUrl: publicUrl,\n    rawPath: `${folderPath}/${filename}` // pour debug\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2900,
        240
      ],
      "id": "654bf4da-86c6-4abd-b017-dfc3297b0b23",
      "name": "Get Image Public Url"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "workspaceId": "w8fin9y3",
        "projectId": "pb01kdovzticqxi",
        "table": "mq17fi4jn3p7if8",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "=alt_text",
              "fieldValue": "={{ $('Generate a custom prompt for this specific image').item.json.output.alt_text }}"
            },
            {
              "fieldName": "binary",
              "binaryData": true,
              "binaryProperty": "data"
            },
            {
              "fieldName": "prompt",
              "fieldValue": "={{ $('Generate a custom prompt for this specific image').item.json.output.image_prompt }}"
            },
            {
              "fieldName": "workflow_execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldName": "visual_type",
              "fieldValue": "landing_page"
            },
            {
              "fieldName": "project_name",
              "fieldValue": "={{ $('Start').item.json.project_name }}"
            },
            {
              "fieldName": "hypothesis_id",
              "fieldValue": "={{ $('Start').item.json.hypothese_id }}"
            },
            {
              "fieldName": "size",
              "fieldValue": "={{ $json.data[0].width }}x{{ $json.data[0].height }}px"
            },
            {
              "fieldName": "filename",
              "fieldValue": "={{ $('Generate a custom prompt for this specific image').first().json.output.filename }}.png"
            },
            {
              "fieldName": "public_url",
              "fieldValue": "={{ $('FILE+PATH').item.json.public_path }}/{{ $('Generate a custom prompt for this specific image').first().json.output.filename }}.png"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -2500,
        -80
      ],
      "id": "c0275b79-6f44-4087-84d7-e8d840fbfdc4",
      "name": "Add to database",
      "credentials": {
        "nocoDbApiToken": {
          "id": "A7ud9P88oTJkeL1f",
          "name": "NocoDb AlpAct - Cloud"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "project_full_context"
            },
            {
              "name": "visual_suggestion"
            },
            {
              "name": "project_name"
            },
            {
              "name": "hypothese_id"
            }
          ]
        }
      },
      "id": "3086d7c9-063e-48d2-90e9-bd494311a0ae",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -4160,
        -80
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96bd5c98-4755-4e16-a20e-610e3a288234",
              "name": "output",
              "value": "done",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        -80
      ],
      "id": "487bd6a0-dd69-41ff-bcb7-86ae06d16ace",
      "name": "Return"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "={{ $json.database_id }}",
          "mode": "id"
        },
        "title": "={{ $('Update public_url+filename+size of image').item.json.filename }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "URL|url",
              "urlValue": "={{ $('Update public_url+filename+size of image').item.json.public_url }}"
            },
            {
              "key": "Image|files",
              "fileUrls": {
                "fileUrl": [
                  {
                    "name": "={{ $('Update public_url+filename+size of image').item.json.filename }}",
                    "url": "={{ $('Update public_url+filename+size of image').item.json.public_url }}"
                  }
                ]
              }
            },
            {
              "key": "alt_text|rich_text",
              "textContent": "={{ $('Add to database').item.json.alt_text }}"
            },
            {
              "key": "project_name|rich_text",
              "textContent": "={{ $('Start').item.json.project_name }}"
            },
            {
              "key": "Hypothese_Id|rich_text",
              "textContent": "={{ $('Start').item.json.hypothese_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1440,
        -80
      ],
      "id": "a3b36e29-4cfd-40af-8601-913bb2b83745",
      "name": "Insert images in Notion",
      "credentials": {
        "notionApi": {
          "id": "snOvbWupBFXeHmM7",
          "name": "Notion AlpAct"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "v5gvKdytgYdGjgYc",
          "mode": "list",
          "cachedResultName": "GetNotionDatabaseId"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "targetDatabaseTitle": "Db_Landing_Page_Visuals",
            "targetParentPageId": "={{ $json.ID_Notion }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "targetDatabaseTitle",
              "displayName": "targetDatabaseTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "targetParentPageId",
              "displayName": "targetParentPageId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -1820,
        -80
      ],
      "id": "17a8e37f-8bf8-4e3e-8705-2224d0b8ee4b",
      "name": "Get Notion Db_Visuals Id",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "workspaceId": "w8fin9y3",
        "projectId": "pb01kdovzticqxi",
        "table": "mgkbmw38vd2aknn",
        "options": {
          "fields": [
            "ID_Notion"
          ],
          "where": "=(project_name,eq,{{ $('Start').item.json.project_name }})"
        }
      },
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [
        -2120,
        -80
      ],
      "id": "544eedcd-e940-4728-b8f0-efae4dcfdcd5",
      "name": "Get project Notion Id",
      "credentials": {
        "nocoDbApiToken": {
          "id": "A7ud9P88oTJkeL1f",
          "name": "NocoDb AlpAct - Cloud"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "={{ $json.path }}/{{ $('Generate a custom prompt for this specific image').first().json.output.filename }}.png"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -2760,
        -80
      ],
      "id": "f0cfe65c-cedf-45ac-b056-e5750ae325e4",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "KGdgRuIUmVx5GWT5",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f111a123-cbd6-4b5f-8487-33101762bf6a",
              "name": "path",
              "value": "=/public/AlpAct/{{ $('Start').item.json.project_name }}",
              "type": "string"
            },
            {
              "id": "962e0a60-108b-4a8f-b9f6-8eaf014a76e7",
              "name": "public_path",
              "value": "https://files.cloudron.alpes-ia.fr",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3200,
        120
      ],
      "id": "7bf57420-ed64-416e-be36-0e8ee7f621b4",
      "name": "Set path"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2980,
        -80
      ],
      "id": "0f767c72-1692-4341-8b98-24798d6ddac6",
      "name": "FILE+PATH"
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "project_full_context": "{\"Id\":5,\"project_name\":\"La meute qui ose\",\"hypothesis_id\":\"P3_S2_VP1_1757066558860\",\"name\":\"Modules clés en main alignés séances 45–90 min, guides enseignants et pré/post-tests; déployable en atelier périscolaire sur 1–2 classes.\",\"probleme_resolu\":\"Friction d'intégration chez établissements et manque de ressources prêtes-à-l'emploi\",\"segment_client\":\"Établissements scolaires et collectivités (B2B2C)\",\"value_prop\":\"Abonnement mensuel blended 'Kits & Cours' prêt-à-l'usage\",\"pourquoi_tester\":\"Très cohérent avec besoins d’intégration scolaire; preuves rapides via LOIs + 1 pilote; production MVP réaliste.\",\"status\":\"En cours\",\"KPIs\":null,\"start_date\":null,\"CreatedAt\":\"2025-09-03 15:14:59+00:00\",\"UpdatedAt\":\"2025-09-05 09:53:36+00:00\",\"mission\":\"Éveiller chez les adolescents et jeunes adultes des notions de connaissance de soi, finance, entrepreneuriat et collaboration pour leur permettre d'entreprendre leur vie.\",\"probleme_central\":\"Les collèges et lycées ne préparent pas suffisamment les jeunes aux enjeux pratiques du monde actuel ; les parents peinent à transmettre ces savoir‑être et savoir‑faire à cet âge.\",\"segment_principal\":\"Parents d'adolescents (lycéens) et relais B2B2C via établissements/associations ; caractéristiques attendues : acheteurs adultes, intérêt pour préparation à la vie active, variabilité de pouvoir d'achat, adoption initiale attendue chez parents proactifs/engagés.\",\"concurrents_principaux\":\"Plateformes d'éducation en ligne / MOOCs (ex. Khan Academy, Coursera pour juniors),Ateliers/associations extrascolaires et ateliers entrepreneuriaux locaux,Abonnements éducatifs jeunesse (kits pédagogiques, magazines éducatifs)\",\"canaux_acquisition\":null,\"value_proposition\":\"Un parcours annuel hybride (physique + digital) qui enseigne compétences pratiques non couvertes par l'école pour préparer les adolescents à la vie et à l'entrepreneuriat, vendu sous forme d'abonnement parental.\",\"fonctionnalites_cles\":\"Box mensuelle physique avec supports et activités pratiques,Contenu digital (modules vidéo, fiches pratiques, exercices, quiz),Parcours pédagogique structuré sur 12 thèmes annuels avec suivi parental\",\"avantage_concurrentiel\":\"Non défini précisément dans les données ; hypothèse potentielle : combinaison hybride physique+digital ciblée spécifiquement sur adolescents avec curriculum pratique annuel et positionnement comme complément scolaire pour parents.\",\"stade_du_projet\":null,\"objectifs_prioritaires\":\"Valider l'intérêt marché et la willingness-to-pay des parents,Tester des canaux d'acquisition (Meta, LinkedIn) et définir les early adopters\",\"contraintes_identifiees\":\"Données manquantes sur budget et durée du test, KPI et seuils de succès, persona détaillée, différenciation, coûts de production/logistique des kits physiques, ressources nécessaires pour création de contenu.\",\"hypothese_depart_contraintes_identifiees\":null,\"hypothese_depart_sur_cible\":null,\"hypothese_depart_sur_solution\":null,\"infos_manquantes\":\"Estimation de la taille de marché (TAM/SAM/SOM) et segmentation géographique/démographique,Personas détaillés : âge, revenus, comportements d'achat, objections,Prix cible envisagé et elasticité prix / willingness-to-pay,Budget et durée du test, livrables attendus,KPI et seuils de succès clairs (acquisition, CAC, LTV, churn, NPS, conversion essai→payant),Données opérationnelles : coûts de production et logistique pour la box physique,Positionnement précis et différenciation par rapport aux alternatives existantes,Stratégie B2B2C (offre pour établissements, modèle commercial et partage de revenus),Plan de contenu (format, auteurs, fréquence, qualité pédagogique) et capacité de production\",\"incoherences\":\"Canaux mentionnés (LinkedIn) peu adaptés pour toucher directement les parents d'adolescents comparé à Instagram/Facebook ou écoles,Différenciation et bénéfice mesurable laissés nuls alors que la proposition repose sur une valeur claire à démontrer,Marketplace cible mélangée (B2C et B2B2C) sans stratégie distincte pour chacun,Premier cas d'usage ambigu : « un lycéen s'abonne » vs « un adulte abonne son enfant » — décisions marketing et de paiement différentes\",\"zones_flou\":\"Modèle exact de l'offre : uniquement physique, uniquement digital, ou mix et proportion entre les deux,Logistique et coût unitaire par abonné (frais d'envoi, production, retours),Stratégie d'acquisition détaillée et canal prioritaire après test initial,Mesure du 'bénéfice mesurable' pour prouver l'impact pédagogique et justifier la rétention/prix\",\"taille_marche\":null,\"ID_Notion\":\"265ca86a94e580188be2c92f48865018\",\"solution_proposee\":\"Un abonnement annuel délivrant chaque mois du contenu physique et/ou digital sur des thèmes pratiques (finance, gestion de projet, entrepreneuriat, etc.).\"}",
          "visual_suggestion": "Frise 12 mois transformée en 12 boîtes numérotées qui s'écoulent vers une classe, chaque mois illustré par une icône thématique (finance, projet, collaboration), un mini graphique pré/post-test au-dessus et la mention « abonnement mensuel blended — Kits & Cours ». ",
          "project_name": "La meute qui ose",
          "hypothese_id": "P3_S2_VP1_1757066558860"
        }
      }
    ]
  },
  "connections": {
    "Generate an image": {
      "main": [
        [
          {
            "node": "Rename File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate a custom prompt for this specific image": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate a custom prompt for this specific image",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Rename File": {
      "main": [
        [
          {
            "node": "FILE+PATH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-5-MINI": {
      "ai_languageModel": [
        [
          {
            "node": "Generate a custom prompt for this specific image",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Generate a custom prompt for this specific image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert images in Notion": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Notion Db_Visuals Id": {
      "main": [
        [
          {
            "node": "Insert images in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get project Notion Id": {
      "main": [
        [
          {
            "node": "Get Notion Db_Visuals Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set path": {
      "main": [
        [
          {
            "node": "FILE+PATH",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Add to database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FILE+PATH": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to database": {
      "main": [
        [
          {
            "node": "Get project Notion Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300
  },
  "versionId": "cd8c480d-f8c0-46f5-97b2-44d3a898cd90",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "89u6R5a5YTudSoEp",
  "tags": [
    {
      "createdAt": "2025-09-03T16:26:16.510Z",
      "updatedAt": "2025-09-03T16:26:16.510Z",
      "id": "fMhvLwPBTuM8eI5O",
      "name": "AlpAct"
    }
  ]
}