AlpAct/Trigger Generate Hypotheses PMF.json
{
  "name": "Trigger Generate Hypotheses PMF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-hypotheses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -480,
        175
      ],
      "id": "222328f0-a264-4381-b9ae-f342b26a1530",
      "name": "Called from Generate Hypotheses button",
      "webhookId": "aa7ac241-460d-4477-b712-06ac84b443ce"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "261ca86a94e580d1b93af2a91a07d5cd",
          "mode": "id"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -40,
        175
      ],
      "id": "597195fa-d924-4a28-83cd-3dda4a6ec444",
      "name": "Get toutes les hypotheses courantes",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "snOvbWupBFXeHmM7",
          "name": "Notion AlpAct"
        }
      }
    },
    {
      "parameters": {
        "operation": "archive",
        "pageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        400,
        100
      ],
      "id": "72652cfd-8664-4a83-bf50-2d3050db3eae",
      "name": "Archive page",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "snOvbWupBFXeHmM7",
          "name": "Notion AlpAct"
        }
      }
    },
    {
      "parameters": {
        "content": "## On commence par delete les hypotheses existantes",
        "height": 460,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -60,
        -60
      ],
      "typeVersion": 1,
      "id": "7c5f45bc-c871-4cdb-8ae4-1d8a7b1c8f71",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c4ffd1a-291c-4d1c-a1ed-a91c043f85f2",
              "leftValue": "={{ $json.values().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        180,
        175
      ],
      "id": "01adeee3-5b96-42ea-be6f-3bbcf6aaf70e",
      "name": "If there are hypotheses to delete"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.body.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"icon\": {\n    \"type\": \"external\",\n    \"external\": {\n      \"url\": \"https://www.notion.so/icons/sync_red.svg?mode=light&size=256\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -260,
        175
      ],
      "id": "5e38ffa7-395b-4ee5-bd42-8e577a17dbd0",
      "name": "Display Sync Icon on Page",
      "credentials": {
        "notionApi": {
          "id": "snOvbWupBFXeHmM7",
          "name": "Notion AlpAct"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DPcwNm4VwzwSFpwT",
          "mode": "list",
          "cachedResultName": "Init project + Hypotheses PMF"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_name": "={{ $('Called from Generate Hypotheses button').item.json.headers.project_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        620,
        175
      ],
      "id": "25e2e274-0370-41cd-9723-cef0a9975e2d",
      "name": "Execute Init project"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1060,
        175
      ],
      "id": "e898e59b-7bbb-4185-8885-93b9d7df5e3b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Called from Generate Hypotheses button": [
      {
        "json": {
          "headers": {
            "host": "n8n.cloudron.alpes-ia.fr",
            "x-real-ip": "44.237.227.106",
            "x-forwarded-for": "44.237.227.106",
            "x-forwarded-host": "n8n.cloudron.alpes-ia.fr",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-ssl": "on",
            "connection": "close",
            "content-length": "1101",
            "user-agent": "NotionAutomation",
            "content-type": "application/json",
            "project_name": "GreenPack",
            "database_id_hypothesepmf": "261ca86a94e580d1b93af2a91a07d5cd",
            "sentry-trace": "7116ebda1f1c4b7f9a94476ff870ae7e-819ec4c003987b56",
            "baggage": "sentry-environment=production,sentry-release=0.0.4454,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=7116ebda1f1c4b7f9a94476ff870ae7e",
            "traceparent": "00-9cebf94cfa36a64ee9aa2f1ee46619ef-be7fefd66924d7f9-00"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "261ca86a-94e5-80b4-92dc-004de82b6c8d",
              "action_id": "261ca86a-94e5-809e-a1c0-005addd03ff2",
              "event_id": "94ddb479-913f-4fea-b5c3-69b4c532cc81",
              "user_id": "53e51f0e-19cf-4d1e-97e8-af68ff8d31c8",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "261ca86a-94e5-8092-b49e-c6ba6f48e0b1",
              "created_time": "2025-09-01T12:59:00.000Z",
              "last_edited_time": "2025-09-02T08:57:00.000Z",
              "created_by": {
                "object": "user",
                "id": "53e51f0e-19cf-4d1e-97e8-af68ff8d31c8"
              },
              "last_edited_by": {
                "object": "user",
                "id": "53e51f0e-19cf-4d1e-97e8-af68ff8d31c8"
              },
              "cover": null,
              "icon": {
                "type": "emoji",
                "emoji": "🪄"
              },
              "parent": {
                "type": "workspace",
                "workspace": true
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "title": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "MVP IA",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "MVP IA",
                      "href": null
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/MVP-IA-261ca86a94e58092b49ec6ba6f48e0b1",
              "public_url": null,
              "request_id": "db25aa49-9a0f-4564-82ec-24c13baa481c"
            }
          },
          "webhookUrl": "https://n8n.cloudron.alpes-ia.fr/webhook/generate-hypotheses",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Called from Generate Hypotheses button": {
      "main": [
        [
          {
            "node": "Display Sync Icon on Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get toutes les hypotheses courantes": {
      "main": [
        [
          {
            "node": "If there are hypotheses to delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If there are hypotheses to delete": {
      "main": [
        [
          {
            "node": "Archive page",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Init project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Display Sync Icon on Page": {
      "main": [
        [
          {
            "node": "Get toutes les hypotheses courantes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive page": {
      "main": [
        [
          {
            "node": "Execute Init project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Init project": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "522c3183-7709-4002-8de5-02c3093f8331",
  "meta": {
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "KsjNu1xhjb31CoAf",
  "tags": []
}