AlpAct/Trigger Generate Hypotheses PMF.json
{
  "name": "Trigger Generate Hypotheses PMF",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-hypotheses",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -760,
        -100
      ],
      "id": "222328f0-a264-4381-b9ae-f342b26a1530",
      "name": "Called from Generate Hypotheses button",
      "webhookId": "aa7ac241-460d-4477-b712-06ac84b443ce"
    },
    {
      "parameters": {
        "content": "## On commence par delete les hypotheses existantes",
        "height": 400,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        -260
      ],
      "typeVersion": 1,
      "id": "7c5f45bc-c871-4cdb-8ae4-1d8a7b1c8f71",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.body.data.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"icon\": {\n    \"type\": \"external\",\n    \"external\": {\n      \"url\": \"https://www.notion.so/icons/sync_red.svg?mode=light&size=256\"\n    }\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -460,
        -100
      ],
      "id": "5e38ffa7-395b-4ee5-bd42-8e577a17dbd0",
      "name": "Display Sync Icon on Page",
      "credentials": {
        "notionApi": {
          "id": "snOvbWupBFXeHmM7",
          "name": "Notion AlpAct"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DPcwNm4VwzwSFpwT",
          "mode": "list",
          "cachedResultName": "Create Hypothesis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_name": "={{ $('Called from Generate Hypotheses button').item.json.headers.project_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        -100
      ],
      "id": "25e2e274-0370-41cd-9723-cef0a9975e2d",
      "name": "Execute Init project",
      "executeOnce": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        840,
        -100
      ],
      "id": "e898e59b-7bbb-4185-8885-93b9d7df5e3b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Lh6ZSJJhLW75mnNG",
          "mode": "list",
          "cachedResultName": "Delete Existing Hypothesis"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "project_name": "={{ $('Called from Generate Hypotheses button').item.json.headers.project_name }}"
          },
          "matchingColumns": [
            "id",
            "headers_project_name"
          ],
          "schema": [
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -40,
        -100
      ],
      "name": "Call Delete Existing Hypothesis",
      "id": "2c7229b6-d936-4349-8f47-6a9070b57720",
      "alwaysOutputData": true,
      "executeOnce": true
    }
  ],
  "pinData": {
    "Called from Generate Hypotheses button": [
      {
        "json": {
          "headers": {
            "host": "n8n.cloudron.alpes-ia.fr",
            "x-real-ip": "44.227.140.35",
            "x-forwarded-for": "44.227.140.35",
            "x-forwarded-host": "n8n.cloudron.alpes-ia.fr",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-ssl": "on",
            "connection": "close",
            "content-length": "1240",
            "user-agent": "NotionAutomation",
            "content-type": "application/json",
            "project_name": "La meute qui ose",
            "sentry-trace": "4a7f2136487f4d05855b626abc4068ea-9fef3fd864a8ab06",
            "baggage": "sentry-environment=production,sentry-release=20250904.2218-df12828,sentry-public_key=529a6d1990e5471d874257842c4f4ad8,sentry-trace_id=4a7f2136487f4d05855b626abc4068ea",
            "traceparent": "00-200b8c127c7d7544b2be6bdd7f4dd363-976a9bcbce359822-00"
          },
          "params": {},
          "query": {},
          "body": {
            "source": {
              "type": "automation",
              "automation_id": "265ca86a-94e5-81d1-a04e-004d41797c24",
              "action_id": "265ca86a-94e5-8120-bd32-005a6938a9c3",
              "event_id": "da82c6e4-9a0a-499e-9e63-23e94e399d52",
              "user_id": "53e51f0e-19cf-4d1e-97e8-af68ff8d31c8",
              "attempt": 1
            },
            "data": {
              "object": "page",
              "id": "265ca86a-94e5-8018-8be2-c92f48865018",
              "created_time": "2025-09-05T09:50:00.000Z",
              "last_edited_time": "2025-09-05T09:51:00.000Z",
              "created_by": {
                "object": "user",
                "id": "53e51f0e-19cf-4d1e-97e8-af68ff8d31c8"
              },
              "last_edited_by": {
                "object": "user",
                "id": "5620770f-c148-485c-ab92-32e2c118beda"
              },
              "cover": null,
              "icon": {
                "type": "external",
                "external": {
                  "url": "https://www.notion.so/icons/sync_red.svg?mode=light&size=256"
                }
              },
              "parent": {
                "type": "block_id",
                "block_id": "263ca86a-94e5-8078-a0c2-c195b29f2e44"
              },
              "archived": false,
              "in_trash": false,
              "properties": {
                "title": {
                  "id": "title",
                  "type": "title",
                  "title": [
                    {
                      "type": "text",
                      "text": {
                        "content": "Test Christophe (1)",
                        "link": null
                      },
                      "annotations": {
                        "bold": false,
                        "italic": false,
                        "strikethrough": false,
                        "underline": false,
                        "code": false,
                        "color": "default"
                      },
                      "plain_text": "Test Christophe (1)",
                      "href": null
                    }
                  ]
                }
              },
              "url": "https://www.notion.so/Test-Christophe-1-265ca86a94e580188be2c92f48865018",
              "public_url": null,
              "request_id": "39809647-c30e-4e93-8d55-47ad03aba46b"
            }
          },
          "webhookUrl": "https://n8n.cloudron.alpes-ia.fr/webhook/generate-hypotheses",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Called from Generate Hypotheses button": {
      "main": [
        [
          {
            "node": "Display Sync Icon on Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Display Sync Icon on Page": {
      "main": [
        [
          {
            "node": "Call Delete Existing Hypothesis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Init project": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Delete Existing Hypothesis": {
      "main": [
        [
          {
            "node": "Execute Init project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8290418b-0856-4a17-8af9-b35dc6212b0b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cb0d888b2669ace4f2f781e684ee8100f0ad3fd9239d2c021aab9cca9e9602ef"
  },
  "id": "KsjNu1xhjb31CoAf",
  "tags": [
    {
      "createdAt": "2025-09-03T16:26:16.510Z",
      "updatedAt": "2025-09-03T16:26:16.510Z",
      "id": "fMhvLwPBTuM8eI5O",
      "name": "AlpAct"
    }
  ]
}